body {
    margin: 0;
    overflow-x: hidden;
    background-color: #ccffcc;
}

img {
    max-width: 100%;
}

header {
    margin: 0;
    padding: 10px 5px 8px 5px;
    background-color: #009900;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
    font-family: 'Kalam', cursive;
    font-size: 30px;
    line-height: 1;
}

nav {
    display: grid;
    grid-template: auto auto / 50% 50%;
    grid-template-areas: 
    "ML MR"
    "MI MI";
    padding: 0;
    gap: 5px;
}

.menu-left {
    grid-area: ML;
    text-align: center;
    margin: 5px;
}

.menu-right {
    grid-area: MR;
    text-align: center;
    margin: 5px;
}

.middle {
    grid-area: MI;
}

.text {
    font-size: 15px;
    color: black;    
    border-radius: 3px;
    margin: 2px;
    padding: 2px 5px;
    background-color: #66ff66;
}

.text:hover {
    cursor: pointer;
    font-size: 17px;
    padding: 1px 5px;
    background-color: #009900;
    color: white;
}

#info {
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template: auto auto 1fr / auto auto;
    grid-template-areas: 
    "H H"
    "P P"
    "L I";
}

.photo {
    grid-area: H;
    margin: 0 auto;
    width: 50vw;
    max-width: 256px;
    border: 3px solid #009900;
    border-radius: 5px;
}

.name {
    grid-area: H;
    text-align: center;
    color: white;
    background-color: #003300;
    margin-bottom: 10px;
    padding: 2px;    
}

.screen {
    grid-area: P;
}

.links {
    grid-area: L;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.website {
    text-decoration: none;
    font-family: 'Bakbak One', cursive;
    font-size: 18px;
    color: #008000;
}

.website:hover {
    text-decoration: none;
    color: black;
}

.code {
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    font-size: 18px;
    color: #003300;
}

.code::before {
    content: "<";
}

.code::after {
    content: ">";
}

.code:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.progs {
    grid-area: I;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

.progs img {
    width: 16px;
}

#explanation {
    margin: 0;
    padding: 10px;
    background-color: #00ff00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#explanation div {
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.footer-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    body {
        background-color: #cc99ff;
    }

    header {
        background-color: #4d0099;
    }

    h1 {
        font-size: 40px;
    }

    nav {
        grid-template: auto auto auto / auto;
        grid-template-areas: 
        "ML"
        "MR"
        "MI";
        gap: 0;
    }

    .menu-left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }

    .menu-right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }

    .text {
        background-color: #8000ff;
        color: white;
        font-size: 22px;
        padding: 3px 25px;
        border: 2px solid #4d0099;
    }

    .text:hover {
        background-color: #e6ccff;
        color: black;
        font-size: 22px;
        padding: 3px 25px;        
    }

    #info {
        grid-template: auto auto 1fr / 60% 40%;
        grid-template-areas: 
        "H H"
        "P L"
        "P I";
    }

    .photo {
        border: 3px solid #4d0099;
    }

    .name {
        background-color: #26004d;
    }

    .links {
        flex-direction: column;
        gap: 12px;
    }

    .website {        
        font-size: 20px;
        color: #4d0099;
    }    
    
    .code {        
        font-size: 20px;
        color: #330066;
    }

    .progs {
        font-size: 30px;
    }

    .progs img {
        width: 28px;
    }

    #explanation {
        padding: 10px 20px;
        background-color: #b366ff;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 40px;
    }
    
    .footer-name {
        align-items: flex-start;
    }
}

@media (min-width: 1020px) {
    body {
        background-color: #e6e6e6;        
    }   
    
    header {
        padding: 0;
        background-color: #e6e6e6;
    }
    
    h1 {
        width: 70vw;
        margin: 20px auto;
        padding: 15px;
        background-color: #f2f2f2;
        color: #333333;
        border: 5px double black;
        font-size: 48px;        
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 70px auto 90px;
        max-width: 1300px;
    }
    
    .text {
        font-size: 22px;
        color: black;
        margin: 2px 7px;    
        padding: 5px 20px;
        border-radius: 3px;
        border: none;
    }
    
    .text:nth-child(odd) {
        background-color: #b3b3b3;
    }
    
    .text:nth-child(even) {
        background-color: #bfbfbf;
    }
    
    .text:hover {
        background-color: #cccccc;
        cursor: pointer;
        font-size: 24px;
        padding: 4px 20px;
        letter-spacing: 2px;
        color: white;
        text-shadow: black 2px 3px 4px;
    }
    
    .menu-left {    
        display: flex;
        order: 1;
        flex-direction: column;
        justify-content: center;
        padding: 3px;
        border: 5px solid black; 
        background-color: #808080;   
        width: 30%;
        transform: perspective(600px) rotateY(30deg);
        text-align: left;
    }
    
    .menu-right {
        display: flex;
        order: 3;
        flex-direction: column;
        justify-content: center;
        padding: 3px;
        border: 5px solid black;
        background-color: #808080;
        width: 30%;
        transform: perspective(600px) rotateY(-30deg);
        text-align: right;
    }
    
    .middle {
        order: 2;
        width: 35%;
        transition-duration: 1s;
        border: 5px solid black;
        transform: translateY(30px);
    }

    .middle:hover {
        transform: scale(2.9) translateY(60px);
    }
    
    #info {
        padding: 10px;        
        background-color: #f2f2f2;
        display: grid;
        grid-template: 1fr auto auto / 60% 40%;
        grid-template-areas: 
        "H H"
        "P L"
        "P I";
    }
    
    .photo {
        width: 120px;
        border: none;
    }
    
    .name {        
        background-color: black;           
    }
    
    .links {  
        flex-direction: column;      
        justify-content: space-around;
        gap: 0;
    }
    
    .website {        
        font-size: 12px;
        color: #808080;
    }
    
    .website:hover {
        text-decoration: none;
        color: black;
    }
    
    .code {        
        font-size: 12px;
        color: #808080;
    }    
        
    .progs {        
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 15px;
    }    

    .progs img {
        width: 14px;
    }
    
    #explanation {
        width: 90%;
        max-width: 975px;
        margin: 5px auto;
        padding: 10px;
        font-size: 7px;
        color: #f2f2f2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #4d4d4d;
        border: 5px double white;
        border-radius: 20px; 
    }
    
    footer {
        background-color: #d9d9d9;
        margin-top: 20px;
    }

    footer img {
        box-shadow: 5px 5px 2px #b3b3b3;
    }
    
    footer img:hover {
        box-shadow: none;
        transform: translateX(2px) translateY(2px);
    }
    
}

